body {
    background-image: linear-gradient(to top right, rgb(100, 15, 15), rgb(20, 0, 0));
}
.sans-serif {
    font-family: "Open Sans", sans-serif;
    color: rgb(210, 210, 210);
}
.courier-new {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(210, 210, 210);
}
.consolas {
    font-family: Consolas, monaco, monospace;
    color: rgb(210, 210, 210);
}
.no-border {
    border: none;
}
.border-standard {
    border: 1px solid rgb(50, 10, 10);
    border-radius: 10px;
}
.border-smooth {
    border: 1px solid rgb(50, 10, 10);
    border-radius: 15px;
}
.separator {
    border-radius: 2px;
}
.profile-picture {
    border: 1px solid rgb(50, 10, 10);
    border-radius: 100%;
}
.picture-full {
    border: 2px solid rgb(50, 10, 10);
    border-radius: 100%;
}
.border-code {
    border-radius: 10px;
    border-color: transparent;
}
.transparent {
    background-color: transparent;
}
.gradient {
    background-image: linear-gradient(to top right, rgb(75, 10, 10), rgb(20, 0, 0), rgb(0, 0, 0));
}
.inverse {
    background-image: linear-gradient(to top right, rgb(100, 15, 15), rgb(35, 0, 0), rgb(0, 0, 0));
}
.font {
    background-color: rgb(210, 210, 210);
}
.code-block {
    background-color: rgb(35, 35, 35);
}
.show {
    display: flex;
}
.hidden {
    display: none;
}

.button-snug:hover, .button-fit:hover, .button-wide:hover {
    background-color: rgba(160, 160, 160, 0.1);
}
.button-snug:focus, .button-fit:focus, .button-wide:focus {
    outline: 2px solid rgba(230, 230, 230, 0.2);
}