body {
    background-color: rgb(15, 5, 15);
}
::selection {
    color: rgb(32, 14, 38);
    background: rgb(230, 0, 130);
}
.sans-serif {
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 200, 255);
}
.courier-new {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 200, 255);
}
.consolas {
    font-family: Consolas, monaco, monospace;
    color: rgb(255, 200, 255);
}
.no-border {
    border: none;
    ;
}
.border-standard {
    border: 1px solid rgb(245, 0, 150);
    border-radius: 10px;
}
.border-smooth {
    border: 1px solid rgb(245, 0, 150);
    border-radius: 15px;
}
.separator {
    border-radius: 2px;
}
.profile-picture {
    border: 1px solid rgb(245, 0, 150);
    border-radius: 100%;
}
.picture-full {
    border: 2px solid rgb(245, 0, 150);
    border-radius: 100%;
}
.border-code {
    border-radius: 10px;
    border-color: transparent;
}
.transparent {
    background-color: transparent;
}
.gradient {
    background-image: linear-gradient(rgb(35, 15, 35), rgb(45, 0, 55));
}
.inverse {
    background-image: linear-gradient(rgb(45, 0, 55), rgb(35, 15, 35));
}
.font {
    background-color: rgb(255, 200, 255);
}
.code-block {
    background-color: rgb(35, 35, 35);
}
.show {
    display: flex;
}
.hidden {
    display: none;
}

.button-snug:hover, .button-fit:hover, .button-wide:hover {
    background-image: linear-gradient(to bottom right, rgba(110, 50, 110, 0.4), rgba(110, 50, 110, 0.1));
}
.button-snug:focus, .button-fit:focus, .button-wide:focus {
    outline: 2px solid rgba(255, 160, 225, 0.7);
}