body {
    background-color: rgb(230, 230, 230);
}
.sans-serif {
    font-family: "Open Sans", sans-serif;
    color: rgb(30, 10, 30);
}
.courier-new {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(30, 10, 30);
}
.consolas {
    font-family: Consolas, monaco, monospace;
    color: rgb(255, 200, 255);
}
.no-border {
    border: none;
}
.border-standard {
    border: 1px solid rgb(30, 10, 30);
    border-radius: 10px;
}
.border-smooth {
    border: 1px solid rgb(30, 10, 30);
    border-radius: 15px;
}
.separator {
    border-radius: 2px;
}
.profile-picture {
    border: 1px solid rgb(30, 10, 30);
    border-radius: 100%;
}
.picture-full {
    border: 2px solid rgb(30, 10, 30);
    border-radius: 100%;
}
.border-code {
    border-radius: 10px;
    border-color: transparent;
}
.transparent {
    background-color: transparent;
}
.gradient {
    background-color: rgb(215, 215, 215);
    border-top: 1px solid rgb(30, 10, 30);
}
.inverse {
    background-color: rgb(230, 230, 230);
}
.font {
    background-color: rgb(30, 10, 30);
}
.code-block {
    background-color: rgb(35, 35, 35);
}
.show {
    display: flex;
}
.hidden {
    display: none;
}

.button-snug:hover, .button-fit:hover, .button-wide:hover {
    background-image: linear-gradient(to bottom right, rgba(110, 110, 110, 0.4), rgba(110, 110, 110, 0.1));
}
.button-snug:focus, .button-fit:focus, .button-wide:focus {
    outline: 2px solid rgba(120, 120, 120, 0.7);
}